<div class="container">
  <div class="two-columns">
    <div class="form-login">
      <br>
      <br>
      <h1 class="text-center">Bienvenido!</h1>
      <br>
      <br>
      <form>
        <div class="fields">
          <div class="field">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Ingresa tu usuario" [(ngModel)]="username" name="username">
          </div>
          <div class="field">
            <label for="password">Contraseña</label>
            <input id="password" type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password">
            <div *ngIf="showLoginError" class="error-message">Por favor, ingrese tanto el nombre de usuario como la contraseña.</div>
          </div>
        </div>
        <div class="actions">
          <button (click)="login()" type="submit">Ingresar</button>
          <a routerLink="/register">¿Aun no te has registrado?</a>
        </div>
      </form>
    </div>
    <img class="img-start" src="assets/images/ingreso.png">
  </div>
</div>

