<div class="container">
  <div *ngFor="let university of universities" class="card">
    <div class="card-body">
      <img [src]="'data:image/png;base64,'+university.image.imageData" alt="University Image" class="university-pic">
      <div class="info">
        <h2>{{ university.name }}</h2>
        <p>Campus: {{ university.campus }}</p>
        <p>Pensión: {{ university.pension | currency }}</p>
        <div class="rating-and-button">
          <div class="stars">
            <ng-container *ngFor="let star of [1,2,3,4,5]">
              <i class="{{ star <= university.qualification ? 'fas' : 'far' }} fa-star"></i>
            </ng-container>
          </div>
          <button class="btn-rate">Calificar</button>
        </div>
      </div>
    </div>
  </div>
</div>
