/* Aplica estilos a todo el contenedor para centrar y agregar márgenes */
.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para la imagen de perfil */
.profile-image-container img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #ddd; /* Opcional: añade un borde a la imagen */
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

/* Estiliza todos los inputs y botones dentro del formulario */
form input,
form button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Estilo específico para botones para que se vean más modernos */
form button {
  background-color: #5c6bc0; /* Un color azul suave */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Cambia el color del botón al pasar el mouse para dar retroalimentación al usuario */
form button:hover {
  background-color: #3949ab;
}

img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilo para el diálogo de confirmación */
div.confirmation {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

div.confirmation p {
  margin-bottom: 10px;
}

div.confirmation button {
  background-color: #4CAF50; /* Verde para el botón confirmar */
  margin-right: 10px;
}

div.confirmation button:last-child {
  background-color: #f44336; /* Rojo para el botón cancelar */
}
.modify-button {
  background-color: #ffc107; /* Un color amarillo para diferenciar */
  color: #000;
}

.modify-button:hover {
  background-color: #e0a800;
}
