<div class="profile-container">
  <h1 class="profile-title">Perfil de Usuario</h1>
  <div *ngIf="!editMode; else editTemplate" class="profile-view">
    <div class="profile-image-container">
      <img [src]="'data:image/png;base64,'+ user.image.imageData" alt="Foto de perfil" class="profile-image">
    </div>
    <div class="profile-info">
      <p class="profile-item"><span class="profile-label">Nombre:</span> {{ user.name }}</p>
      <p class="profile-item"><span class="profile-label">Correo:</span> {{ user.email }}</p>
      <p class="profile-item"><span class="profile-label">Username:</span> {{ user.username }}</p>
      <p class="profile-item"><span class="profile-label">Distrito:</span> {{ user.district }}</p>
      <p class="profile-item"><span class="profile-label">Edad:</span> {{ user.age }}</p>
    </div>
    <button type="button" class="button modify-button" (click)="editMode = true">Modificar</button>
  </div>
  <ng-template #editTemplate>
    <div class="edit-form">
      <input type="text" [(ngModel)]="user.name" class="input-field">
      <input type="email" [(ngModel)]="user.email" class="input-field">
      <input type="text" [(ngModel)]="user.username" class="input-field">
      <input type="text" [(ngModel)]="user.district" class="input-field">
      <input type="number" [(ngModel)]="user.age" class="input-field">
      <input type="file" (change)="onFileSelected($event)" class="input-file">
      <button type="button" class="button update-button" (click)="confirmEdit()">Actualizar</button>
    </div>
    <div *ngIf="confirmation" class="confirmation-dialog">
      <p class="confirmation-question">¿Quieres hacer los cambios?</p>
      <button type="button" class="button confirm-button" (click)="updateProfile()">Sí</button>
      <button type="button" class="button cancel-button" (click)="confirmation = false">No</button>
    </div>
  </ng-template>
</div>
