@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

/* Estilo de la barra de búsqueda y el botón */
.search-bar {
  display: flex;
  width: 100%;
  max-width: 800px; /* Puedes ajustar este valor según prefieras */
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera para un efecto elevado */
}

.search-bar input[type="text"] {
  flex-grow: 1; /* Asegura que el campo de texto ocupe el espacio disponible */
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px; /* Bordes redondeados solo en el lado izquierdo */
  font-size: 16px; /* Tamaño de la fuente */
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #0020ff; /* Color que ya estás utilizando */
  color: white;
  border-radius: 0 10px 10px 0; /* Bordes redondeados solo en el lado derecho */
  cursor: pointer;
  font-size: 16px; /* Tamaño de la fuente */
  transition: background-color 0.3s ease; /* Transición suave para el efecto hover */
}

.search-bar button:hover {
  background-color: #3700b3; /* Efecto hover que ya estás utilizando */
}

/* Haciendo la barra de búsqueda responsiva */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    width: calc(100% - 40px); /* Ajuste para el padding del contenedor */
  }

  .search-bar input[type="text"],
  .search-bar button {
    width: 100%;
    border-radius: 10px; /* Bordes redondeados en todos los lados para móviles */
  }

  .search-bar button {
    margin-top: 10px; /* Añade espacio entre el campo de texto y el botón en dispositivos móviles */
  }
}

/* Asegúrate de añadir los estilos de transición para los elementos interactivos */
input[type="text"], button {
  transition: all 0.3s ease;
}

/* Añade un efecto de enfoque para la barra de búsqueda */
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0020ff; /* Añade un borde de enfoque de color */
}
/*Css cartas de profesores*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Añade padding al contenedor */
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.info {
  margin-left: 20px;
  flex-grow: 1;
}

.info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info p {
  font-size: 16px;
  color: #555;
}
.rating-and-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stars {
  display: flex;
}
.stars {
  color: #ffd700;
  margin-right: 15px;
}

.btn-rate {
  background-color: #0020ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.btn-rate:hover {
  background-color: #3700b3;
}
/*Otro*/

button {
  background-color: #0020ff; /* A purple color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: auto; /* Push the button to the right */
}

button:hover {
  background-color: #1c0080; /* A darker purple for hover effect */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio para dispositivos móviles */
  }
  .card-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .info {
    margin-left: 0; /* Remueve el margen para dispositivos móviles */
    margin-top: 10px;
  }
  .rating-and-button {
    flex-direction: column;
    align-items: flex-start;
  }
  .btn-rate {
    margin-top: 10px; /* Agrega un margen superior al botón en dispositivos móviles */
  }
}
/* Estilos para el botón flotante */
.float-button {
  width: 50px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  position: fixed; /* Posición fija en la pantalla */
  bottom: 20px; /* Separación desde el fondo */
  right: 20px; /* Separación desde la derecha */
  background-color: #0020ff; /* Color del botón */
  color: white;
  border: none;
  border-radius: 50%; /* Redondea completamente los bordes para hacerlo circular */
  padding: 15px; /* Tamaño del relleno para aumentar el área del botón */
  font-size: 24px; /* Tamaño del icono "+" */
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Sombra para el botón flotante */
  z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
  align-items: center;
}

.float-button:hover {
  animation: bounce 0.5s; /* Color al pasar el mouse */
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Ajusta la altura del rebote aquí */
  }
}

/* Asegúrate de que el contenido no se superponga con el botón flotante en pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    padding-bottom: 80px; /* Agrega un relleno inferior al contenedor para evitar superposiciones */
  }
}
/* Estilos para la búsqueda avanzada */
.advanced-search {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.range-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-range {
  flex: 1; /* Asegura que el slider ocupe el espacio disponible */
  margin: 0 10px;
}

.form-group {
  margin: 10px 0;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.form-control.invalid {
  border-color: red;
}

.form-control:focus {
  outline: none;
  border-color: #0020ff;
}

/* Ajustes responsivos para búsqueda avanzada */
@media (max-width: 768px) {
  .advanced-search {
    width: calc(100% - 40px);
  }

  .range-slider label {
    width: 100%;
  }

  .custom-range {
    margin: 10px 0;
  }
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
}
.range-value {
  margin: 0 10px; /* Ajusta el margen a tu gusto */
}

.range-to {
  margin: 0 4px; /* Ajusta el margen a tu gusto */
}
